@media all and (max-width: 1700px){
	.form-section .radio-field{
		width: 75%;
	}

	.for-client > section{
		padding: 8.125em 8em 9.375em;
	}
}

@media all and (max-width: 1480px){
	body,a{
		font-size: 15px;
	}

	.header .navbar{
		height: 95px;
	}

	.logo{
		width: 170px;
		height: 69px;
	}

	.intro-banner{
		height: 900px;
	}

	.intro-banner:after{
		height: 680px;
		width: 380px;
	}

	.intro-banner .excerpt blockquote{
		width: 60%;
		-webkit-background-size: 65px;
		background-size: 65px;
	}

	.for-client > section {
	    padding: 8.125em 7em 9.375em;
	}

	/*.owl-carousel{
		width: 100%;
	}*/

	.owl-carousel:before{
		width: 83px;
	}

	.content-wrap .content{
		width: calc(100% - 401px);
	}

	.content-wrap .sidebar{
		width: 400px;
	}

	.post-blockquote p:before,
	.post-blockquote p:after,
    .post .post-blockquote p:before,
    .post .post-blockquote p:after{
		width: 40px;
	}

	.for-client > section{
		padding: 8.125em  8em 9.375em;
	}

    .comment-box #wpcomm .wc-blog-post_author > .wc-comment-right .wc-comment-author a {
        font-size: 1em;
        line-height: 1;
    }
}

@media all and (min-width: 1381px) and (max-width: 1540px) {
    .form-section .radio-field {
        width: 85%;
    }
}

@media all and (max-width: 1380px){
	body, a{
		font-size: 14px;
	}

	.header .navbar{
		height: 88px;
	}

	.intro-banner{
		height: 750px;
	}

	.intro-banner:after{
		height: 580px;
	}

	.form-section .radio-field{
		width: 80%;
	}

	.footer-top,
	.footer-bottom{
		padding-right: 8em;
		padding-left: 8em;
	}

	.intro-banner .text{
		left: 8em;
	}

	.intro-banner .excerpt{
		padding-left: 4em;
	}

	.form-section .radio-field{
		width: 80%;
        min-width: 266px;
	}

	.post-blockquote p:before,
	.post-blockquote p:after,
    .post .post-blockquote p:before,
    .post .post-blockquote p:after{
		width: 35px;
	}

	.post p{
		margin: 0 0 25px;
	}

    .comment-box header h3 span {
        top: -3px;
    }
    .comment-box header:before {
        top: 16px;
    }
    .comment-box header:after {
        top: 11px;
    }
}

@media all and (max-width: 1280px){
	body, a{
		font-size: 12px;
	}

	.logo {
	    width: 100px;
	    height: 60px;
	}

	.header .navbar{
		height: 78px;
	}

	.content-wrap .sidebar{
		width: 350px;
		padding: 7.5em 2em 4em;
	}

	.content-wrap .content{
		width: calc(100% - 352px);
	}

    .form-section .radio-field {
        width: 100%;
    }

	.recent-posts-list .thumb{
		width: 30%;
		overflow: hidden;
	}

	header .labels-list a,
    header .labels-list span{
		font-size: 12px;
	}

	.post .media.empty{
		float: left;
		width: auto;
	}

    .comment-box header h3 span {
        top: -2px;
    }
    .comment-box header:before {
        top: 14px;
    }
    .comment-box header:after {
        top: 9px;
    }
}

@media all and (max-width: 1150px){
	.content-wrap .sidebar{
		width: 300px;
	}

	.content-wrap .content{
		width: calc(100% - 300px);
	}

	.intro-banner{
		height: 700px;
	}

	.intro-banner .excerpt blockquote{
		width: 72%;
	}

	.intro-banner .text{
		position: absolute;
		top: auto;
		bottom: 240px;
		left: 35px;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
		z-index: 5;
	}

	.intro-banner:after{
		height: 520px;
		right: 0;
		width: 260px;
	}
	
	.helps .card-list{
		min-width: 90%;
	}

	.call-link{
		display: none;
	}

	.for-client > section {
	    padding: 8.125em 5em 9.375em;
	}

	.home .content h2+p{
		font-size: 18px;
		width: 70%;
	}

	.helps h3+p{
		font-size: 14px;
	}

	.more-link{
		font-size: 16px;
	}

	.twit-section q{
		width: 60%;
		font-size: 28px;
	}

	.twit-btn{
		font-size: 16px;
	}

	.footer-top, .footer-bottom,
	.footer-top, .footer-top{
		padding-left: 4em;
		padding-right: 4em;
	}

    .post > section p,
    .single article > section p,
    .single article section > strong,
    .single article > section ul li{
		font-size: 16px;
	}

	.recent-posts-list a{
		font-size: 11px;
	}

	.categories a{
		font-size: 13px;
	}
	
	.tags-list a{
		font-size: 12px;
	}

	.post-blockquote p,
    .post .post-blockquote p{
		font-size: 20px;
	}

	.post-blockquote{
		padding: 1.875em 1.5em 1.675em;
	}

	.post-blockquote p:before,
    .post-blockquote p:after,
    .post .post-blockquote p:before,
    .post .post-blockquote p:after{
		width: 27px;
	}
}

@media all and (max-width: 1050px){
	.post .media{
		float: none;
		width: 100%;
	}
}

@media all and (max-width: 1000px){
	
	.intro-banner h1{
		font-size: 32px;
	}

	.intro-banner h1 strong{
		font-size: 55px;
	}

	.for-client .col-5{
		width: 100%;
	}

	.home .for-client > section h2{
		text-align: center;
	}

	.home .for-client > section h2:after{
		display: none;
	}

	.owl-carousel .owl-item h3{
		font-size: 28px;
	}

	.owl-carousel .owl-item blockquote p{
		font-size: 18px;
	}

	.owl-carousel .owl-item blockquote footer{
		font-size: 18px;
	}

	.insta h3{
		font:300 32px roboto;
		text-align: center;
	}	

	.form-section form > p, .form-section .preform-text p{
		font-size: 19px;
	}

	.form-section .radio-field .client-p,
	input[type="radio"] + label, input[type="radio"] + .wpcf7-list-item-label{
		font-size: 18px;
	}

	input[type="radio"] + label:before, input[type="radio"] + .wpcf7-list-item-label:before{
		margin-right: 15px;
	}

	.form-section .radio-field{
		width: 70%;
	}

	.input-style{
		font-size: 16px;
	}

	.form-section fieldset ul li{
		margin: 0 0 15px;
	}

	.form-section .btn{
		font-size: 18px;
	}

	.serving-list h3 a{
		font-size: 22px;
	}

	.footer .footer-top a,
	.footer .footer-header + ul > li,
	.footer .foot-nav > ul > li > .sub-menu > li > a{
		font-size: 18px;
		font-weight: 400;
	}

	.footer .contact-list .location{
		margin: 0;
	}

	.footer .logo + p{
		font-size: 18px;
	}

	.footer-header h4{
		font-size: 22px;
	}

	.footer .foot-nav .sub-menu .sub-menu li{
		margin: 0 0 16px;
	}

	.footer .col-5 > .contacts{
		padding: 0 0 0 6.25em;
	}

	.footer .foot-nav > ul > li > .sub-menu > li > a{
		font-weight: 700;
	}

	.footer-top > .col-5{
		width: 100%;
		margin: 0 0 70px;
	}
}

@media all and (max-width: 900px){
	.main-nav{
		position: fixed;
		top: 0;left: 0;
		height: 100%;
		width: 300px;

		-webkit-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);

		-webkit-transition: 1s;
		-o-transition: 1s;
		transition: 1s;
		background: rgba(255,255,255, .95);
		text-align: left;
		padding: 80px 20px 40px;
		z-index: 2000;
		overflow: auto;
	}
	
	.main-nav a{
		color: #000;
	}

	.main-nav .current-menu-item,
    .main-nav .current_page_item,
    .main-nav .current-menu-parent,
    .main-nav .current-menu-ancestor,
    .main-nav .current-page-ancestor,
    .single-post .main-nav .menu-item-39,
    .main-nav li:hover{
		background: transparent;
	}

	.main-nav li:hover:after,
    .main-nav .current-menu-item:after,
    .main-nav .current_page_item:after,
    .main-nav .current-menu-parent:after,
    .main-nav .current-menu-ancestor:after,
    .main-nav .current-page-ancestor:after,
    .single-post .main-nav .menu-item-39:after{
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.main-nav.active{
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
	}

	.main-nav li{
		display: block;
	}

	.burger{
		display: inline-block;
	}

	.intro-banner .buttons{
		width: 330px;
		text-align: center;
	}

	.intro-banner .excerpt{
		height: 230px;
	}

	.intro-banner .btn,
	.intro-banner .buttons span{
		display: block;
		margin: 0 0 16px;
		font-size: 18px;
		padding: 16px;
	}

	.intro-banner .buttons span{
		font-size: 22px;
		padding: 0;
	}

	.intro-banner blockquote footer{
		padding-top: 15px;
	}

	.home .content h2:before, .home .content h2:after{
		display: none;
	}

	.content-wrap .content{
		width: 100%;
	}

	.post .media{
		float: left;
		width: 45%;
	}

	.content-wrap .sidebar{
		width: 100%;
	}

	.sidebar figcaption{
		font-size: 27px;
	}

	.sidebar h4{
		font-size: 38px;
		margin: 0 0 35px;
		text-align: center;
		padding-bottom:20px;

	}

	.content-wrap .sidebar h4:after{
		left: 50%;
		margin: 0 0 0 -20px;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.sidebar .about-me p, 
	.sidebar .widget_text:first-child p, 
	.sidebar #text-2 p{
		font-size: 16px;
	}

	.sidebar .about-me .btn, 
	.sidebar .widget_text:first-child .btn,
	.sidebar #text-2 .btn{
		margin-top: 15px;
		font-size: 16px;
	}

	.recent-posts-list{
		overflow: hidden;
	}

	.recent-posts-list a{
		font-size: 13px;
		overflow: hidden;
		margin: 0;
	}
		
	.recent-posts-list li,
	.sidebar .featured-posts li{
	    width: 48%;
		padding-right: 30px;
		display: inline-block;
		vertical-align: top;
		margin: 0 0 30px;
	}

	.sidebar .categories,
	.sidebar .featured-posts{
		overflow: hidden;
	}
	
	.sidebar .categories li{
		float: left;
		width: 33.33%;
	}

	.tags-list{
		text-align: center;
	}
	
	.subscriber h2{
		font-size: 20px;
	}

	.subscriber p{
		font-size: 16px;
	}

	.subscriber .btn{
		font-size: 16px;
		margin: 0 0 25px;
	}	
}

@media all and (max-width: 800px){
	.home .content h2+p{
		width: 90%;
	}

	.helps .card-list{
		width: 100%;
	}

 	.helps .card-list li{
 		padding: 0 2.625em;
 	}
}

@media all and (max-width: 767px){
	.intro-banner .excerpt {
	    padding-left: 2em;
	}

	.intro-banner .buttons span{
		display: none;
	}

	.intro-banner .excerpt blockquote{
		width: 100%;
	}

	.wave, .wave:before, .wave:after{
		z-index: 10;
	}

	.clients-logo ul{
		overflow: hidden;
        height: auto;
        border-bottom: none;
	}

	.clients-logo li{
        width: 33.33%;
        height: 12.5em;
        border-bottom: 1px solid #eaeaea;
	}

	.intro-banner .excerpt{
		width: 100%;
		z-index: 6;
	}

	.home .content h2{
		font-size: 40px;
	}

	.twit-section q{
		font-size: 25px;
		width: 100%;
		padding: 0 20px 2.8em 20px;
	}

	.helps .card-list li{
		width: 100%;
		padding: 0 15%;
		margin: 0 0 80px;
	}

	.helps .icon{
		height: 180px;
		width: 180px;
	}

	.helps h3{
		font-size: 28px;
	}

	.helps h3+p{
		font-size: 20px;
	}

	.owl-carousel{
		text-align: center;
		margin-left: 0;
		width: 100%;
		background: transparent url(../img/mob-quote.png) no-repeat center top;
		padding-top: 50px;
	}

	.owl-carousel .owl-item{
	    padding: 2.812em 1.25em 0;
	}

	.owl-carousel:before{
		display: none;
	}

	.owl-pagination{
		text-align: center;
		padding: 0;
	}

	.owl-carousel .owl-item h3{
		font-size: 25px;
	}

	.owl-carousel .owl-item blockquote footer{
		padding-bottom: 30px;
	}

	.owl-carousel .owl-item blockquote footer cite{
		font-style: normal;
	}
	
	.for-client > section {
	    padding: 8.125em 2em 9.375em;
	}

	.form-section form > p, .form-section .preform-text p{
		margin-bottom: 30px;
	}

	.foot-nav > ul > li{
	    width: 49%;
	    display: inline-block;
	    vertical-align: top;
	    float: none;
	    margin: 0 0 40px;
	}

	.foot-nav > ul > li:last-child{
		width: 100%;
	}

	.foot-nav > ul > li:last-child> ul >li{
		width: 49%;
		float: left;
	}

	.home .content > .helps{
		padding-bottom: 30px;
	}

	.single article img {
		max-width: none;
		width: 100%;
	}

	.single article blockquote{
		width: 100%;
	}
}


@media all and (max-width: 660px){
	.intro-banner .buttons{
		width: 250px;
	}

	.intro-banner h1 strong {
	    font-size: 46px;
	}
	.intro-banner:after{
		right: -25px;
	}

	.intro-banner .buttons .btn{
	    font-size: 14px;
    	padding: 16px;
	}

	.serving-list h3 a{
		font-size: 20px;
	}

	.form-section .radio-field .client-p, input[type="radio"] + label, input[type="radio"] + .wpcf7-list-item-label, .input-style{
		font-size: 16px;
	}

	.footer-top > .col-5 > .col-5{
		width: 100%;
		padding: 0 10px 0 0;
	}

	.footer .col-5 > .contacts{
		padding: 55px 6.25em 0 0; 
	}

	.footer .contact-list .location{
		margin: 0 0 13px;
	}

	.footer .contacts h4{
		padding-left: 0;
	}

	.footer .copy{
		font-size: 16px;
		text-align: center;
	}

	.footer-top > .col-5:last-child{
		margin: 0;
	}

	.pagination li,
    .wp-pagenavi a,
    .wp-pagenavi span{
		margin: 0 5px;
	}

	.recent-posts-list li, 
	.sidebar .featured-posts li{
		width: 100%;
	}

	.recent-posts-list a{
		font-size: 15px;
		padding-top: 15px;
	}

	.sidebar .categories li{
		width: 50%;
	}

	.categories a{
		font-size: 14px;
	}

	.featured-posts a{
		font-size: 14px;
	}

	.single .video-wrap{
		height: 20em;
		margin: 0 0 20px;
	}

	.footer-top > .col-5 {
	    margin: 0 0 32px;
	}

    .comment-box .comment-box #wpcomm .wc-comment .wc-comment-right {
        padding: 0;
    }
    .comment-box #wpcomm .wc-field-comment .wc-field-avatararea .avatar,
    .comment-box #wpcomm .wc-comment .wc-comment-left .avatar,
    .comment-box #wpcomm .wc-comment .wc-comment-left {
        width: 50px;
    }
    .comment-box #wpcomm .wc-comment .wc-comment-left {
        position: relative;
        top: 4px;
    }
    .comment-box #wpcomm .wc-field-comment .wc-field-textarea,
    .comment-box #wpcomm .wc-comment .wc-comment-right {
        margin-left: 60px;
    }
    .comment-box #wpcomm .wc-comment-text p {
        font-size: 1.2em;
    }
}

@media all and (max-width: 580px){
	.post .media{
		width: 100%;
	}

	.post-blockquote p,
    .post .post-blockquote p{
		font-size: 18px;
		line-height: 1.5;
	}

	.post-blockquote p:before,
    .post-blockquote p:after,
    .post .post-blockquote p:before,
    .post .post-blockquote p:after{
	    width: 20px;
    	height: 20px;
	}

	.post-blockquote {
		padding-top: 3.8em;
	}

	.page-template-page-blog .content, 
	.page:not(.home) .content, 
	.error404 .content, 
	.singular .content, 
	.single .content, .archive .content{
		padding: 6.875em 2em 0;
	}
	
	.sidebar .about-me h4, .sidebar .widget_text:first-child h4, .sidebar #text-2 h4{
		font-size: 32px;
	}	

	.sidebar .about-me p, .sidebar .widget_text:first-child p, .sidebar #text-2 p{
		font-size: 14px;
	}

	.sidebar figcaption{
		margin: 0 0 20px;
	}

	.recent-posts-list a{
		padding: 0;
		font-size: 13px;
	}

	.sidebar .featured-posts li{
		margin: 0 0 15px;
	}

	.tags-list a{
		font-size: 13px;
	}
}

@media all and (max-width: 560px){
	.intro-banner h1{
		font-size: 22px;
	}

	.intro-banner .text{
		bottom: 205px;
		left: 20px;
	}

	.intro-banner h1 strong{
		font-size: 30px;
	}

	.intro-banner .buttons .btn{
		padding: 12px;
	}

	.intro-banner .excerpt blockquote{
		font-size: 20px;
		padding-left: 70px;
		-webkit-background-size: 50px;
		background-size: 50px;
	}

	.form-section .radio-field{
		width: 100%;
        min-width: auto;
	}
	
	.intro-banner .excerpt{
		height: 200px;
		padding: 1em;
	}

	.serving-list li{
		width: 100%;
		padding: 0 2em;
		margin: 0 0 60px;
	}

	.foot-nav > ul > li,
	.foot-nav > ul > li:last-child > ul > li{
		width: 100%;
	}

    .foot-nav > ul > li {
        margin-bottom: 1em;
    }

	.form-section .btn{
		font-size: 16px;
	}

	.footer-top, .footer-bottom, .footer-top, .footer-top {
	    padding-left: 2em;
	    padding-right: 2em;
	}

	.clients-logo li{
		width: 50%;
	}
}

@media all and (max-width: 480px){
	.page-template-page-blog article header{
		margin: 0 0 20px;
	}

	.info-section ul{
		float: none;
		margin-bottom: 10px;
	}

	.page-template-page-blog article h2 a{
		font-size: 24px;
	}

	.post > section p, .single article > section p,
	.post > section p strong, .single article > section p strong,
	.single article > section ul li{
		font-size: 14px;
	}
	
	.content-wrap .sidebar{
		padding-top: 0;
	}

	.sidebar .categories li{
		width: 100%;
	}

    .wp-pagenavi {
        margin: -0.8em 0 6em;
    }
	.pagination li:first-child a,
	.pagination li:last-child a,
    .wp-pagenavi a.previouspostslink,
    .wp-pagenavi a.nextpostslink{
        font-size: 0;
		overflow: hidden;
	}

	.subscriber header strong{
		font-size: 1.28em;
	}

	.subscriber p{
		font-size: 14px;
	}

	.subscriber .input-style{
		font-size: 14px;
	}
}

@media all and (max-width: 440px){
	.header .navbar{
		padding: 0 20px; 
	}

	.burger{
		position: absolute;
		top: 10px;
		right: 20px;
		width: 52px;
		z-index: 10000;
	}

	.home .content h2{
		font-size: 30px;
	}

	.helps h3{
	    font-size: 25px;
	}

	.owl-carousel .owl-item blockquote p{
		font-size: 16px;
	}

	.form-section section{
		padding: 2.5em 15px;
	}

	.form-section .radio-field .client-p, input[type="radio"] + label, input[type="radio"] + .wpcf7-list-item-label, .input-style{
		font-size: 14px;
	}

	.form-section form > p, .form-section .preform-text p{
		font-size: 17px;
	}

	.form-section .radio-field .client-p{
		padding-right: 5px;
	}

	input[type="radio"] + label:before, input[type="radio"] + .wpcf7-list-item-label:before{
		margin-right: 8px;
	}

	.form-section .btn{
		font-size: 14px;
	}

	.form-section .radio-field{
		padding: 0 15px;
	}

	.post-info{
		margin: 0;
	}

	.single .video-wrap {
	    height: 15em;
	}

    .comment-box #wpcomm .wc-field-comment .wc-field-avatararea {
        display: none;
    }
    .comment-box #wpcomm .wc-field-comment .wc-field-textarea {
        margin-left: 0;
    }
    .comment-box #wpcomm .wc-toggle {
        padding-top: 1em;
    }
}

@media all and (max-width: 400px){
	ul.post-footer-info{
		float: none;
		width: 100%;
		margin: 0 0 10px;
		text-align: left;
	}

	.post > section p:last-child, .single article > section p:last-child{
		margin: 0 0 20px;
	}

	.post-blockquote p,
    .post .post-blockquote p{
		font-size: 16px;
	}
}

@media all and (max-width: 380px){
	.post-blockquote p,
    .post .post-blockquote p{
		font-size: 14px;
	}

	.page-template-page-blog article h2 a{
		font-size: 20px;
	}

	.single .video-wrap {
	    height: 11em;
	}
}

@media all and (max-width: 360px){
	.form-section form > p, .form-section .preform-text p{
		font-size: 15px;
	}

	input[type="radio"] + label, input[type="radio"] + .wpcf7-list-item-label, .input-style{
		font-size: 13px;
	}

	.form-section .radio-field span.wpcf7-list-item.first{
		padding: 0 0 0 5px;
	}

	.form-section .radio-field li, .form-section .radio-field span.wpcf7-list-item{
		padding: 0 0 0 10px;
	}

	.subscriber p{
		font-size: 12px;
	}

	.subscriber h2{
		font-size: 14px;
	}

	.tags-list a{
		font-size: 12px;
	}
}